.card {
    width: 150px;
    height: 220px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin: 10px;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.card-rank-top, .card-rank-bot {
    font-size: 24px;
    font-weight: bold;
}

.card-rank-bot {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.card-suit {
    font-size: 80px;
    position: absolute;
    left: 40px;
    bottom: 70px;
}