.card-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-spread {
    position: relative;
}

.card {
    width: 150px;
    height: 220px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin: 10px;
}

.card-front, .card-front-red {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front, .card-front-red {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.card-front-red {
    color: red;
}

.card-rank-top, .card-rank-bot {
    font-size: 24px;
    font-weight: bold;
}

.card-rank-bot {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.card-suit {
    font-size: 80px;
    position: absolute;
    left: 40px;
    bottom: 70px;
}

.text-overlay {
    list-style-type: none;
    position: absolute;
    top: 60px;
    left: 40px;
    z-index: 2;
    font-size: 80px;
    transform: rotate(-15deg);
}

.bust-color {
    color: red;
}

.winner-color {
    color: gold;
}

.lose-color {
    color: blue;
}