<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Black Jack</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:inline="javascript">
        var hitEndpointUrl = /*[[ @{'/hit'} ]]*/ '';
        var standEndpointUrl = /*[[ @{'/stand'} ]]*/ '';
        var newHandEndpointUrl = /*[[ @{'/newHand'} ]]*/ '';

    </script>
    <script src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/card.css">
</head>

<br>
<h1 id="title">Black Jack</h1>

<header class="turnHeading">
    <div id="currentCardTracker">
        <h2>Current Card in Deck</h2>
        <p th:text="${currentCard}"></p>
    </div>
    <div id="currentTurnTracker">
        <h2>Current Turn</h2>
        <p th:text="${currentTurn}"></p>
    </div>
</header>

<h2>Dealer</h2>
<p th:text="'Score: ' + ${dealerScore}"></p>
<p th:if="${dealerBust}" th:text="'BUST!'"></p>
<p th:unless="${dealerBust}" th:if="${playerBust}" th:text="'WINNER!'"></p>
<p th:if="${dealerWins}" th:text="'WINNER!'"></p>
<p th:if="${playerWins}" th:text="'LOSE!'"></p>
<ul class="card-spread">
    <li th:each="card : ${dealerHand}">
        <div class="card">
            <div class="card-front">
                <span class="card-rank-top" th:text="${card.convertRank()}"></span>
                <span class="card-suit" th:text="${card.convertSuit()}"></span>
                <span class="card-rank-bot" th:text="${card.convertRank()}"></span>
            </div>
        </div>
    </li>
</ul>

<h2 class="subheading">Player</h2>
<p th:text="'Score: ' + ${playerScore}"></p>
<ul class="card-spread">
    <li th:each="card : ${playerHand}">
        <div class="card">
            <div class="card-front">
                <span class="card-rank-top" th:text="${card.convertRank()}"></span>
                <span class="card-suit" th:text="${card.convertSuit()}"></span>
                <span class="card-rank-bot" th:text="${card.convertRank()}"></span>
            </div>
        </div>
    </li>
</ul>

<div th:if="${dealerBust} or ${playerBust} or ${dealerWins} or ${playerWins}">
    <button onclick="newHand()">Next Hand?</button>
</div>
<div th:unless="${dealerBust} or ${playerBust} or ${dealerWins} or ${playerWins}">
    <button onclick="hit()">Hit</button>
    <button onclick="stand()">Stand</button>
</div>
</br>
<div class="card">
    <div class="card-front">
        <span class="card-rank-top">A</span>
        <span class="card-suit">♠</span>
        <span class="card-rank-bot">A</span>
    </div>
</div>

<div class="card">
    <div class="card-front">
        <span class="card-rank-top">A</span>
        <span class="card-suit">♠</span>
        <span class="card-rank-bot">A</span>
    </div>
</div>

</body>

</html>