<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Black Jack</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:inline="javascript">
        var hitEndpointUrl = /*[[ @{'/hit'} ]]*/ '';
    </script>
    <script src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Black Jack</h1>
    <h2>Current Card</h2>
    <p th:text="${currentCard}"></p>
    
    <h2>Dealer</h2>
    <p th:text="score + ' ' + ${dealerScore}"></p>
    <h3>Current Cards:</h3>
    <ul>
        <li th:each="card : ${dealerHand}" data-th-utext="${card.getUnicodeSuit()} + ' ' + ${card.getRank()}"></li>
    </ul>
    
    <h2>Player</h2>
    <p th:if="${dealerBust}" th:text="'Player Wins! ' + ${playerScore}"></p>
    <p th:unless="${dealerBust}" th:if="${playerBust}" th:text="'Score: ' + ${playerScore} + ' BUST!'"></p>
    <p th:unless="${dealerBust} or ${playerBust}" th:text="'Score: ' + ${playerScore}"></p>
    
    
    <h3>Current Cards:</h3>
    <ul>
        <li th:each="card : ${playerHand}" data-th-utext="${card.getUnicodeSuit()} + ' ' + ${card.getRank()}"></li>
    </ul>
    
    <div th:if="${playerBust}">
        <button>Next Hand?</button>
    </div>
    <div th:unless="${playerBust}">
        <button onclick="hit()">Hit</button>
        <button>Stand</button>
    </div>
    
    <h2>The Cards</h2>
    <ul>
        <li th:each="card : ${deck}"  data-th-utext="${card.getId()} + ' ' + ${card.getRank()} + ' ' + ${card.getUnicodeSuit()}"></li>
    </ul>
</body>
</html>