name: Java CI
run-name: ${{ github.actor }} Java CI

on: [push]

jobs:
   build:
     runs-on: ubuntu-latest
     
     steps:
       - uses: actions/checkout@v3
       - name: Set up JDK 17
         uses: actions/setup-java@v3
         with:
           java-version: '17'
           distribution: 'temurin'
           cache: maven
       - name: Clean, compile and test the code
         run: mvn --batch-mode --update-snapshots clean compile test jacoco:report